.titulo1{
    background-color: red;
    color: aqua;
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
}
.titulo2{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem; 
    color: chartreuse;
}
.lista1{
    font-family: 'Syne Mono', monospace;
}
.titulo3{
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: black;
    color: white;
}